<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <div class="well well-small">
        왼쪽
      </div>
    </div>
    <div class="span9">
      <div class="well well-small">
        <legend style="font-weight: bold;">NEWSFEED</legend>
        <div id="feed-list">
          <div style="border-bottom: 1px solid #ddd; padding:10px;">
            <img src="<%= current_user.avatar.url %>" style="width:50px; float:left;" class="thumbnail">
            <div style="margin-left:70px;">
              <div>
                <span style="color:#3B5998; font-weight: bold;">jaeyoung</span>
                #
                <span style="color:brown; font-weight:bold">함께가는 싸이공연</span>
                <span style="color:gray">>> 서브카테고리</span>
              </div>
              <div>
                <%= current_user.created_at %>
              </div>
              <div style="margin-top:5px;">
                은총이형이 맥북 받아옴<br>
                은총이형이 맥북 받아옴<br>
                은총이형이 맥북 받아옴<br>
                은총이형이 맥북 받아옴<br>
                은총이형이 맥북 받아옴<br>
                은총이형이 맥북 받아옴<br>
                은총이형이 맥북 받아옴<br>
                은총이형이 맥북 받아옴<br>
                은총이형이 맥북 받아옴
              </div>

            </div>
          </div>

          <div style="border-bottom: 1px solid #ddd; padding:10px;">
            <img src="<%= current_user.avatar.url %>" style="width:50px; float:left;" class="thumbnail">
            <div style="margin-left:70px;">
              <div>
                <span style="color:#3B5998; font-weight: bold;">jaeyoung</span>
                #
                <span style="color:brown; font-weight:bold">함께가는 싸이공연</span>
                <span style="color:gray">>> 서브카테고리</span>
              </div>
              <div>
                <%= current_user.created_at %>
              </div>
              <div style="margin-top:5px;">
                은총이형이 맥북 받아옴<br>
                은총이형이 맥북 받아옴<br>
                은총이형이 맥북 받아옴<br>
                은총이형이 맥북 받아옴<br>
                은총이형이 맥북 받아옴<br>
                은총이형이 맥북 받아옴<br>
                은총이형이 맥북 받아옴<br>
                은총이형이 맥북 받아옴<br>
                은총이형이 맥북 받아옴
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>