<!DOCTYPE html>
<html>
<head>
  <style>


      .userProfileImg{ height: 100px; float: left; }

      .storyInnerContent {
          float: left;width: 600px;
          margin-left:10px;
      }

      .name{color:blue; }
      .content{
          font-family: "돋움", Dotum;
          font-size: 10pt;

          margin-top: 10px;
      }
      .article{
          clear:both;
      }

  </style>
  <script src="http://code.jquery.com/jquery-latest.js"></script>

</head>
<body>
<div id="feedView">

</div>
<script>

    $.ajax({
        type: "GET",
        url: "http://localhost:3000/posts/1",

    }).error(function(msg) {
                alert('error: 파일을 찾을 수가 없습니다.');

            }).done(function(msg) {

                $.each(msg, function(key, val) {
                    var items = [];
                    $.each(val, function(key, val) {
                        items.push(val);
                    });
                    var strs='<div class="article">\
      <a><img src="'+ items[0] +'" class="userProfileImg"></a>\
      <div class="storyInnerContent">\
        <a href="http://www.facebook.com/sionics" class="name">'+items[1]+'</a>\
        <div class="content">\
            ‎ '+items[2]+'\
        </div>\
      </div>\
    </div>\
    ';
            $('<div/>', {
                'class': 'my-new-list',
                html: strs
            }).appendTo('#feedView');

        });

    });


</script>
</body>
</html>




