/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

//.content {
//  background-color: #eee;
//  padding: 20px;
//  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
//  -webkit-border-radius: 0 0 6px 6px;
//  -moz-border-radius: 0 0 6px 6px;
//  border-radius: 0 0 6px 6px;
//  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
//  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
//  box-shadow: 0 1px 2px rgba(0,0,0,.15);
//}

@media (max-width: 480px) {
  .binder_ring {
    clear:both;
    display: block;
    background-image: url('/assets/binder_ring_vertical.png');
    background-repeat: repeat-x;
    width:79%;
    height:74px;
    z-index:100;
    position: absolute;
    margin-left: 5px;
    margin-top: -35px;
  }
}

@media (max-width: 767px) {
  .binder_ring {
    clear:both;
    display: block;
    background-image: url('/assets/binder_ring_vertical.png');
    background-repeat: repeat-x;
    width:91%;
    height:74px;
    z-index:100;
    position: absolute;
    margin-left: 10px;
    margin-top: -35px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .binder_ring {
    clear:both;
    display: block;
    background-image: url('/assets/binder_small.png');
    background-repeat: repeat-y;
    width:74px;
    height:43%;
    z-index:100;
    position: absolute;
    margin-left: 150px;
    margin-top: -300px;
  }
}

@media (min-width: 980px) and (max-width: 1199px) {
  .binder_ring {
    clear:both;
    display: block;
    background-image: url('/assets/binder_ring.png');
    background-repeat: repeat-y;
    width:74px;
    height:43%;
    z-index:100;
    position: absolute;
    margin-left: 200px;
    margin-top: -300px;
  }
}

@media (min-width: 1200px) {
  .binder_ring {
    clear:both;
    display: block;
    background-image: url('/assets/binder_ring.png');
    background-repeat: repeat-y;
    width:74px;
    height:43%;
    z-index:100;
    position: absolute;
    margin-left: 252px;
    margin-top: -300px;
  }
}

