<div class="row">
  <div class="span6">
    <%= render 'plans/form' %>
  </div>
  <div class="span6">
    <legend style="font-weight: bold;">
      가입신청 관리
    </legend>

    <table style="width:100%;">
      <thead>
      <tr>
        <td style="width:60px;"></td>
        <td></td>
        <td style="width:100px;"></td>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <img src="http://t1.gstatic.com/images?q=tbn:ANd9GcQ5V3c2plCMuTvzBYPhsQnOFohlWOuWuu4PJxutDL0r7UI0iAAgDA&t=1"
               style="width:50px" class="thumbnail">
        </td>
        <td>태연</td>
        <td>
          <i class="icon-ok"></i>
          <i class="icon-remove"></i>
        </td>
      </tr>
      <tr>
        <td>
          <img src="http://t1.gstatic.com/images?q=tbn:ANd9GcQ5V3c2plCMuTvzBYPhsQnOFohlWOuWuu4PJxutDL0r7UI0iAAgDA&t=1"
               style="width:50px" class="thumbnail">
        </td>
        <td>태연</td>
        <td>
          <i class="icon-ok"></i>
          <i class="icon-remove"></i>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>