<h3>Members</h3>
<ul class="members">
  <% @members.each do |member| %>
      <li>
        <%= link_to member.user.name, member %> joined at <%= member.created_at.to_date %>
      </li>
  <% end %>
</ul>